extends layout
		
block content
	div#home(title="Home")
	div#sensor(title="Sensor Details")
	div#zones(title="Sensor Zones")
	div#schedule(title="Schedules")
	div#wifi(title="Wireless Lan")
	div#update(title="On-Line Update")
	div#global(title="Global Settings")
	div#dbadmin(title="Database Administration")
	div#logs(title="System Logs")

